body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.login {
    height: 100vh;
    background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container {
    min-height: 400px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_title {
    margin-bottom: 32px;
    color: rgb(82, 82, 82);
}

.login_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
}

.login_border_input {
    height: 1px;
    width: 100%;
    margin-bottom: 2px;
    background-color:rgb(177, 177, 177);
    transition: 0.3s ease-in-out; 
}

.login_border_input::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    margin-bottom: 16px;
    background: linear-gradient(120deg, #e75590, #00C2CB);
    transition: .3s ease-in-out;
}

.login_input:focus + .login_border_input::after {
    width: 100%;
}

.login_submit {
    margin-top: 20px;
    height: 48px;
    width: 100%;
    outline: none;
    position: relative;    
    background: linear-gradient(120deg, #21d4fd, #b721ff);
    background-size: 200%;
    margin-bottom: 20px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    border: unset; 
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease;
}

.login_submit:hover {
    background-position: right;
}

.login_recover_pass {
    font-size: 12px;
    color: rgb(70, 70, 70);
    text-decoration: none;
}